.header{
    background-image: url("/src/images/background\ potter\'s\ home.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px transparent;
    box-shadow: 8px 8px 8px 8px ;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}